<a href="https://colab.research.google.com/github/RogerHeederer/NLP_practice_Action_B/blob/master/SentenceTokenizing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Source reference : https://github.com/totalgood/nlpia

**어휘 구축, 토큰화 p48~51**

In [98]:
import pandas as pd

In [99]:
# Simple python function can tokenizing the sentence.
sentence = "Thomas Jefferson began building Monticello at the age of twenty-six."
sentence.split()

['Thomas',
 'Jefferson',
 'began',
 'building',
 'Monticello',
 'at',
 'the',
 'age',
 'of',
 'twenty-six.']

In [100]:
# vanilla python statements and you can create numerical vector representations for each word.

In [101]:
[(token, 1) for token in sentence.split()]

[('Thomas', 1),
 ('Jefferson', 1),
 ('began', 1),
 ('building', 1),
 ('Monticello', 1),
 ('at', 1),
 ('the', 1),
 ('age', 1),
 ('of', 1),
 ('twenty-six.', 1)]

In [102]:
dict([(token, 1) for token in sentence.split()])

{'Jefferson': 1,
 'Monticello': 1,
 'Thomas': 1,
 'age': 1,
 'at': 1,
 'began': 1,
 'building': 1,
 'of': 1,
 'the': 1,
 'twenty-six.': 1}

In [103]:
dict([(token, 1) for token in sentence.split()]).items()

dict_items([('Thomas', 1), ('Jefferson', 1), ('began', 1), ('building', 1), ('Monticello', 1), ('at', 1), ('the', 1), ('age', 1), ('of', 1), ('twenty-six.', 1)])

In [104]:
sorted(dict([(token, 1) for token in sentence.split()]).items())

[('Jefferson', 1),
 ('Monticello', 1),
 ('Thomas', 1),
 ('age', 1),
 ('at', 1),
 ('began', 1),
 ('building', 1),
 ('of', 1),
 ('the', 1),
 ('twenty-six.', 1)]

In [105]:
# pandas이용

sentence = "Thomas Jefferson began building Monticello at the age of 26."
df = pd.DataFrame(pd.Series(dict([(token, 1) for token in sentence.split()])), columns=['sent']).T #전치 시켜주는 T

In [106]:
df

      Thomas  Jefferson  began  building  Monticello  at  the  age  of  26.
sent       1          1      1         1           1   1    1    1   1    1

In [107]:
>>> sentences = "Construction was done mostly by local masons and carpenters.\n" \
                "He moved into the South Pavilion in 1770.\n" \
                "Turning Monticello into a neoclassical masterpiece was Jefferson's obsession."

In [108]:
corpus = {'sent0': df.T['sent'].to_dict()}

In [109]:
corpus

{'sent0': {'26.': 1,
  'Jefferson': 1,
  'Monticello': 1,
  'Thomas': 1,
  'age': 1,
  'at': 1,
  'began': 1,
  'building': 1,
  'of': 1,
  'the': 1}}

In [110]:
corpus['sent0']

{'26.': 1,
 'Jefferson': 1,
 'Monticello': 1,
 'Thomas': 1,
 'age': 1,
 'at': 1,
 'began': 1,
 'building': 1,
 'of': 1,
 'the': 1}

In [112]:
#corpus['sent1'] corpus['sent2'] 만들기

In [113]:
for i, sent in enumerate(sentences.split('\n')):
  corpus['sent{}'.format(i + 1)] = dict((tok, 1) for tok in sent.split())

In [114]:
corpus['sent1']

{'Construction': 1,
 'and': 1,
 'by': 1,
 'carpenters.': 1,
 'done': 1,
 'local': 1,
 'masons': 1,
 'mostly': 1,
 'was': 1}

In [115]:
corpus['sent2']

{'1770.': 1,
 'He': 1,
 'Pavilion': 1,
 'South': 1,
 'in': 1,
 'into': 1,
 'moved': 1,
 'the': 1}

In [116]:
corpus['sent3']

{"Jefferson's": 1,
 'Monticello': 1,
 'Turning': 1,
 'a': 1,
 'into': 1,
 'masterpiece': 1,
 'neoclassical': 1,
 'obsession.': 1,
 'was': 1}

In [119]:
df = pd.DataFrame(corpus, dtype=int).fillna(0).T
df

       Thomas  Jefferson  began  ...  masterpiece  Jefferson's  obsession.
sent0     1.0        1.0    1.0  ...          0.0          0.0         0.0
sent1     0.0        0.0    0.0  ...          0.0          0.0         0.0
sent2     0.0        0.0    0.0  ...          0.0          0.0         0.0
sent3     0.0        0.0    0.0  ...          1.0          1.0         1.0

[4 rows x 32 columns]